body{
background: #425fed;
background: linear-gradient(0deg, rgba(66, 95, 237, 0.83) 10%, rgba(255, 255, 255, 1) 47%);
}
header img{
    height: 400px; 
}
header{
    text-align: center;
   padding-bottom: 2px;
}

header ul, header a{
     display: flex;
    list-style: none;
    text-align: center;
  gap: 20px;
  text-decoration: none;
 justify-content: center;
}
header a:link{
    color: black;
 }
 #sec1{
   height: 400px;
 }